# beautifulsoup4    # https://pypi.org/project/beautifulsoup4/
click             # https://pypi.org/project/click/
colorlog          # https://pypi.org/project/colorlog/
pandas              # https://pypi.org/project/pandas/
# pandas-datareader  # https://pypi.org/project/pandas-datareader/
python-dotenv     # https://pypi.org/project/python-dotenv/
# Pillow            # https://pypi.org/project/Pillow/
# PyAutoGUI         # https://pypi.org/project/PyAutoGUI/
# python-dotenv     # https://pypi.org/project/python-dotenv/
# selenium          # https://pypi.org/project/selenium/
requests          # https://pypi.org/project/requests/
# tqdm              # https://pypi.org/project/tqdm/
